
@{
    ViewBag.Title = "MyCard";
    Layout = "~/Views/KhachHangHA/Shared/_LayoutInfoCustomer.cshtml";
    ViewBag.active5 = "active";
}


<div class="col-xs-12 col-sm-10 col-md-10 dashboard-content my-cards">
    <h2 class="dash-content-title">Credit/Debit Cards</h2>
    <div class="row">

        <div class="col-sm-12 col-md-6">
            <div class="card-block">
                <h2 class="card-number">xxxx xxxx xxxx 1234</h2>
                <h3 class="card-expiry">Vaild Thru 06/17</h3>
                <div class="card-name">
                    <h4>Name On Card</h4>
                    <h3 class="user-name">Lisa</h3>
                </div><!-- end card-name -->

                <div class="primary-tag">
                    <h4>Primary</h4>
                </div><!-- end primary-tag -->

                <ul class="list-unstyled list-inline">
                    @*<li class="card-img"><img src="~/hinh/card.png" class="img-responsive" alt="card-img" /></li>*@
                    <li class="card-links"><button class="btn" data-toggle="modal" data-target="#edit-card"><span><i class="fa fa-pencil"></i></span></button><button class="btn"><span><i class="fa fa-close"></i></span></button></li>
                </ul>
            </div><!-- end card-block -->
        </div><!-- end columns -->

        <div class="col-sm-12 col-md-6">
            <a href="#add-card" data-toggle="modal">
                <div class="card-block add-card">
                    <span><i class="fa fa-plus-circle"></i></span>
                    <h4>Add New Card</h4>
                </div><!-- end card-block -->
            </a>
        </div><!-- end columns -->

    </div><!-- end row -->
</div>