
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/KhachHangHA/Shared/_LayoutContact.cshtml";
    var thongbao = TempData["Message"];
}
<!-- Google Fonts -->
@*<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CPlayfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">*@
<link href="~/Content/CSS_01/style.css" rel="stylesheet" />
<link href="~/Content/CSS_01/orange.css" rel="stylesheet" />
<link href="~/Style/Css/thankyou.css" rel="stylesheet" />

<section class="innerpage-wrapper">
    <div id="thank-you" class="innerpage-section-padding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-side">
                    <div class="space-right">
                        <div class="thank-you-note">
                            <h3>Your Booking is confirmed now. Thank You!</h3>
                            <h2>@thongbao</h2>
                            <p>
                                Please check in your email. Invoice information has been sent
                            </p>
                            <a href="/KhachHangHA/PrintDetails" class="btn btn-orange">Print Details</a>
                        </div><!-- end thank-you-note -->

                        
                    </div>
                </div>
            </div>
        </div>
</section>
