.banner {
    background-image: url('../../hinh/may-bay-phuong-tien-di-chuyen-tien-loi-va-an-toan-nhat-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.weather-content {
    background-image: url(/hinh/weather-main1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}



    #cd-logo img {
        display: block;
    }

@media only screen and (min-width: 768px) {
    #cd-logo {
        margin: 23px 0 0 5%;
    }
}

.Coop {
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
}

.logoo {
    justify-content: space-around;
    flex-wrap: wrap;
}

    .logoo img {
        width: 210px;
        height: 150px;
    }
